AirLineProject/AirLineProject/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Flight_Data" type="tns:Flight_Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Flight_Data">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Flight_DataItem" type="tns:Flight_DataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Flight_DataItem">
    <xs:attribute blend:FormatParameters="3" name="Flight_Number" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Destination" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Origin" type="xs:string" />
  </xs:complexType>
</xs:schema>