AirLineProject/AirLineProject/SampleData/SeatsSample/SeatsSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SeatsSample" targetNamespace="Expression.Blend.SampleData.SeatsSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SeatsSample" type="tns:SeatsSample" />
  <xs:complexType name="SeatsSample">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="1,3" name="Property2" type="xs:string" />
  </xs:complexType>
</xs:schema>